.App {
  text-align: center;
}
.category-ul {
  display: flex; 

}
.category-item {
  margin-right: 40px;
  padding: 4px 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category-item:hover {
  background-color: #f0f0f0;
}
